[[equipment.vsg]]
vsg_id = 1
driver = sim
resource = SIM::VSG1

[[equipment.speca]]
speca_id = 1
driver = sim
resource = SIM::SA1

[[equipment.vna]]
vna_id = 1
driver = sim
resource = SIM::VNA1

[[equipment.pwrmeter]]
pwrmeter_id = 1
driver = sim
resource = SIM::PM1
