[[equipment.psu]]
psu_id = 1
driver = sim
resource = SIM::PSU1

[[equipment.eload]]
eload_id = 1
driver = sim
resource = SIM::ELOAD1

[[equipment.oscope]]
oscope_id = 1
driver = sim
resource = SIM::SCOPE1
